{% set isChangeProcess = false %}
{% if guitarChange is defined and guitarChange == true %}
    {% set isChangeProcess = true %}
{% endif %}


{# ---------------------------- IMAGE --------------#}

<div class="guitar-form__guitar-container">
    <a class="guitar-form__guitar-image-hyperlink image__frame" href="{{path('upload_image')}}">
        <image class="guitar-form__guitar-image" src="
            {% if targetFile is defined and targetFile is not null %}
                {{asset(targetFile)}}
            {% else %}
                {{asset('assets/placeholder/placeholder-guitar.svg')}}
            {% endif %}
        "> 
    </a>
    {% if targetFile is defined and targetFile is not null %}
        <a 
            href="{{path('remove_image_guitar')}}" 
            class="button js-confirm-link" 
            data-confirmation-text="{{confirmationImageText}}"
        >
            Bild löschen
        </a> 
    {% endif %}
</div>




{# ---------------------------- INPUT --------------#}

{# control the route #}
<form 
    class="form__container"
    action="
    {% if isChangeProcess %}
        {{path('change_guitar')}}?id={{infos.id}}
    {% else %}
        {{path('create_guitar')}}
    {% endif %}
" method="POST">


    {# output only if an image exists #}
    {% if targetFile is defined and targetFile is not null %}
        <input type="text" name="image" value="{{targetFile}}" hidden>
    {% endif %}

    {# output only if an existing guitar shall be changed #}
    {% if isChangeProcess %}
        <input type="text" name="id" value="{{infos.id}}" hidden>
    {% endif %}

    {% if infos.fileExists is defined and infos.fileExists == true %}
        <input type="text" name="fileExists" value="{{infos.fileExists}}" hidden>
    {% endif %}

    {{ setInputField('text', 'model', 'Variante', infos, return) | raw }}
    {{ setInputField('text', 'color', 'Farbe', infos, return) | raw }}
    {{ setInputField('text', 'body', 'Body', infos, return) | raw }}
    {{ setInputField('text', 'pickup', 'Pickup', infos, return) | raw }}
    {{ setInputField('number', 'price', 'Preis', infos, return) | raw }}
    {{ setInputField('text', 'submit', '', infos, return, false, true) | raw }}

    <select name='guitarTypeId' required>
        {% for guitarType in guitarTypes %}
            <option value={{guitarType.id}}
            
            {% if infos.guitarTypeId is defined and infos.guitarTypeId == guitarType.id %}
                selected="selected"
            {% endif %}
            >
                {{guitarType.brand}} - {{guitarType.version}} - {{guitarType.type}}
            </option>
        {% endfor %}
    </select>
    <label for='guitarType'>Gitarrentyp</label>

    <button class="button" type="submit">{{submit_label}}</button>

</form>
