{% set route = route ?? 'create_guitar_type' %}

{% if route == 'change_guitar_type' %}
    <form action="{{path(route, {'id': guitarTypeId } )}}" method="POST">
{% else %}
    <form action="{{path(route)}}" method="POST">
{% endif %}

        {{ setInputField('text', 'brand', 'Marke', guitarTypeInfos, return) | raw }}
        {{ setInputField('text', 'version', 'Version (Modell)', guitarTypeInfos, return) | raw }}

        <select name="type" required>
            <option {% if return and guitarTypeInfos.type == 'Elektrisch' %} selected {% endif %} >Elektrisch</option>
            <option {% if return and guitarTypeInfos.type == 'Akustisch' %} selected {% endif %} >Akustisch</option>
        </select>
        <label for="type">Typ</label>

        {{ setInputField('text', 'size', 'Größe (Beschreibung)', guitarTypeInfos, return) | raw }}
        {{ setInputField('text', 'neck', 'Hals (Material)', guitarTypeInfos, return) | raw }}
        {{ setInputField('text', 'fretboard', 'Griffbrett (Material)', guitarTypeInfos, return) | raw }}
        {{ setInputField('number', 'saddlewidth', 'Sattelbreite (in mm)', guitarTypeInfos, return) | raw }}
        {{ setInputField('number', 'scale', 'Mensur (in mm)', guitarTypeInfos, return) | raw }}

        <input type='text' name='submit' value='true' hidden>


        <button class="button" type="submit">{{submit_label}}</button>

    </form>