{% extends 'base.html.twig' %}

{% set return = (return is defined and return == true) ? true : false %}
{% set infos = infos is defined ? infos : null %}

{% block content %}

<form action="{{path('create_guitar')}}" method="POST">

    {{ setInputField('text', 'model', 'Variante', infos, return) | raw }}
    {{ setInputField('text', 'color', 'Farbe', infos, return) | raw }}
    {{ setInputField('text', 'body', 'Body', infos, return) | raw }}
    {{ setInputField('text', 'pickup', 'Pickup', infos, return) | raw }}
    {{ setInputField('number', 'price', 'Preis', infos, return) | raw }}
    {{ setInputField('text', 'submit', '', infos, return, false, true) | raw }}
    
    <button class="button create-guitar-type__submit" type="submit">Anlegen</button> 

</form>

{% endblock %}