<div class="guitar-overview__container">

    <img class="guitar-overview__img" src="
        {% if guitar.imageGuitar is not empty %}
            {{asset(guitar.imageGuitar.first.image.name)}}
        {% else %} 
            {{asset('assets/placeholder/placeholder-guitar.svg')}}
        {% endif %}
    ">

    <div>
        <h3><strong>{{guitar.guitarType.brand}} - {{guitar.guitarType.version}} ({{ guitar.guitarType.type }}) </strong></h3>    
    </div>
    
    <div>
        <p>{{guitar.model}} </p>
    </div>
    
    <div>
        <p>{{guitar.price}},00 € </p> 
    </div>

    <a href="{{path('change_guitar', {
        'id': guitar.id
    })}}">Bearbeiten</a>
</div>