<div class="guitar-overview__container">
    <a href="{{path('guitar', {'guitarId' : guitar.id})}}">
        {% include 'guitar-image.html.twig'%}
        <div>
            {% include 'guitar-headline.html.twig'%}    
        </div>
        <div>
            <p>{{guitar.model}} </p>
        </div>
        <div>
            <p>{{guitar.price}},00 € </p> 
        </div>
    </a>

    {# put buttons out if user has rights #}
    {% if isAdmin %}
        <a 
            href="{{path('change_guitar', {
                'id': guitar.id
                    })}}" 
            class="button">Bearbeiten
        </a>

        <a 
            href="{{path('delete_guitar', {
                'id': guitar.id
                    })}}" 
            class="button">Löschen
        </a>
    {% endif %}

    {# put buttons out if user has rights #}
    {% if isAdmin == false %}
        <button 
            class="js-add-to-cart-button" 
            data-guitar-id="{{guitar.id}}"
            data-name="{% include 'guitar-headline-content.html.twig' %}"
            data-image-src="{% if guitar.imageGuitar is not empty %}{{asset(guitar.imageGuitar.first.image.name)}}{% else %}{{asset('assets/placeholder/placeholder-guitar.svg')}}{% endif %}"
            data-price="{{guitar.price}}"
            >
            In den Warenkorb
        </button>
    {% endif %}

</div>