{# {% set tab = tab ?? '' %} #}

{# {% set login_state = app.session.get('loggedIn') ? 'true' : 'false' %}
{% set first_name = app.session.get('firstName') ?? null %}
{% set last_name = app.session.get('lastName') ?? null %}
{% set member_id = app.session.get('memberId') ?? null %} #}

{# <nav class="d-flex justify-content-between align-items-center p-3 row" >
    <div class="col-9">
        <a class="navbar-brand" href="{{ path('index') }}">Der glühende Colt</a>
    </div>
    <div class="col-3 d-flex justify-content-between align-items-center">
        {% if login_state == 'true' %}
            <span class="user-font">User: {{ first_name }} {{ last_name }} </span>
            <a class="nav-link {% if tab == 'members' %} fw-bold {% endif %}" href="{{ path('members') }}">Mitglieder</a>
            <a class="nav-link btn logout-btn px-1" href="{{ path('logout') }}">Abmelden</a>
        {% endif %}
    </div>
</nav> #}

<nav class="navbar__container content">
    <p>Das ist die Navbar </p>

    <form class="" action="{{ path('login') }}" method="post">
        <input type="text" class="" name="member_id" placeholder="User">
        <input type="password" class="" name="password" placeholder="Passwort">
        <button class="button" type="submit">Login</button>
    </form>

    <a class="button" href="{{path('create-user')}}"> Registrieren </a>
</nav>