{% extends 'base.html.twig' %}

{% block pageHeadline %}
    <h1 class="content__main-headline">Bestellungen / Kunden</h1>
{% endblock %}

{% block searchbar %}

    {% include 'forms/searchbar-form.html.twig' with {
        'pathName': 'orders'
    } %}

{% endblock %}

{% block content %}

    <div class="content--centering-in-column">

        {% for order in orders %}

        {% set isOrderActive = true %}

        {% if order.paid is not null or order.canceled is not null %}
            {% set isOrderActive = false %}
        {% endif %}


        {% set stateBackground = 'bg-failure' %}


            <div class="order__item-container {% if order.paid is not null %} bg-success {% elseif order.canceled is not null %} bg-disabled {% endif %}">

                {% if order.canceled is not null %}
                    <p class="order__status-text">STORNIERT</p> 
                {% elseif order.paid is not null %}
                    <p class="order__status-text">BEGLICHEN</p> 
                {% else %}
                    <p class="order__status-text">OFFEN</p> 
                {% endif %} 

                <div class="order__item-data-container">

                        <table class="order__order-data-table">
                            <tr>
                                <td>Bestelldatum</td>
                                <td>{{order.date|date('d.m.y')}}</td>
                            </tr>
                            <tr>
                                <td>Bestellnummer</td>
                                <td>{{order.id}}</td>
                            </tr>
                        </table>
                        <table class="order__user-data-table">
                            <tr>
                                <td>Name</td>
                                <td>{{order.user.firstname}} {{order.user.lastname}}</td>
                            </tr>
                            <tr>
                                <td>Adresse</td>
                                <td>{{order.user.street}} {{order.user.housenumber}}, {{order.user.zipcode}} {{order.user.city}}</td>
                            </tr>
                            <tr>
                                <td>E-Mail</td>
                                <td>{{order.user.email}}</td>
                            </tr>
                            <tr>
                                <td>Telefonnummer</td>
                                <td>{{order.user.phone}}</td>
                            </tr>

                        </table>
                </div>

                <div class="order__action-button-container">

                    {% if order.paid is null and order.canceled is null%}
                        {% include 'forms/order-change-input-form.html.twig' with {
                            'inputName': 'paidId', 
                            'buttonLabel': 'Begleichen',
                            'icon': 'check.svg'
                        }%}
                        {% include 'forms/order-change-input-form.html.twig' with {
                            'inputName': 'canceledId',
                            'buttonLabel': 'Stornieren',
                            'icon': 'cancel.svg',
                            'confirmText': 'Sind Sie sicher, dass Sie die Rechnung stornieren wollen? Die Aktion kann nicht rückgängig gemacht werden.'
                        }%}
                    {% elseif order.paid is not null%}
                        {% include 'forms/order-change-input-form.html.twig' with {
                            'inputName': 'resetPaidId',
                            'buttonLabel': 'Zurücksetzen',
                            'icon': 'return.svg'
                        }%}

                    {% endif %} 


                    {# --- invoice form --- #}
                    {% if order.canceled is null %}
                        <form action="{{path('invoice')}}" method="post">
                            <input type="text" name="id" value="{{order.id}}" hidden>
                            <input class="" name="submit" value="Rechnung" hidden>

                            <button class="order__action-button" type="submit" title="Download Rechnung">
                                <img 
                                    class="order__action-button-icon"
                                    src="{{asset('assets/icons/invoice.svg')}}" 
                                    >
                            </button>
                        </form>
                    {% endif %}

                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}