<div class="sidebar__container js-sidebar">

    <div class="sidebar__cross-container">
        <image class="sidebar__cross js-sidebar-cross" src="/guitarWorld/public/assets/icons/cross.svg">
    </div>

    {% if user is defined and user is not null %}
        <h2>Hallo {{user.firstname}} {{user.lastname}}</h2>

        {% if isAdmin %}
            <a href="{{path('create_guitar_type')}}" class="button">Gitarrentyp anlegen</a>
            <a href="{{path('guitar_type_overview')}}" class="button">Gitarrentypen verwalten</a>
            <a href="{{path('create_guitar')}}" class="button">Gitarre anlegen</a>
            <a class="button" href="{{path('orders')}}"> Bestellungen </a> 
        {% endif %}

        <a class="button" href="{{path('logout')}}"> Logout </a>

    {% else %}
        {% include 'login_form.html.twig' %}
        <a class="button" href="{{path('create_user')}}"> Registrieren </a> 
    {% endif %}

    {% if isAdmin == false %}   
        {% include 'forms/sidebar-shopping-form.html.twig' %}
    {% endif %}    


</div>